body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(white, lightgrey);
    width: 400px;
    height: 650px;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #3b5998;
    height: 12.2%;
    width: 341%;
    font-family: Tahoma ;
    border: 1px solid #0000ff;
}

.fb {
    font-size: 35px;
    position: absolute;
    left: 50px;
    color: white;
    top: 3.5%;
    font-weight: bold;
}

.connexion {
    float: right;
    color: white;
    font-size: 13px;
    margin-top: 12px;
    margin-right: 200px;
}

.btn {
    background-color: #2f55a4;
    height: 22px;
    color: white;
    border: 1px solid #2f477a;
    border-radius: 2px;
    font-weight: bold;
}

.mdpo {
    color: lightslategray;
    text-decoration: none;
    position: relative;
}

.left {
    width: 55%;
    position: absolute;
    left: 0;
}

.info {
    display: block;
    color: #3b5998;
    font-size: 20px;
    font-weight: 700;
    width: 500px;
    position: relative;
    left: 180px;
    margin-top: 50px;
}

.imgfb {
    position: relative;
    left: 180px;
}

.right {
    width: 45%;
    position: absolute;
    top: 16%;
    left: 56%;
}

.h3 {
    color:black;
    font-size: 36px;
    font-weight: 700;
    margin-top: 15px;
}

.p {
    margin-top: -18px;
    color: black;
}

.inscription {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    outline-color: #2f55a4;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 6px;
    margin-left: -5px;
}

.naissance {
    color: black;
    font-size: 19px;
}

select {
    background-color: white;
    border: 1px solid lightgrey;
    font-size: 13px;
    font-weight: 400;
    height: 35px;
    width: 80px;
    margin-left: 5px;
    margin: -2;
}

.pdn {
    color: #2f55a4;
    font-size: 11px;
    text-decoration-color: #3b5998;
    width: 150px;
    display: inline-block;
    text-decoration: none;
}

.sexe {
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding-left: 3px;
    padding-right: 10px;
    margin-top: 316px;
}

.logofemme {
    width: 20px;
    }

.logohomme {
    width: 20px;
    }

.conditions {
    color: gray;
    display: block;
    font-size: 11px;
    margin-bottom: 11px;
    width: 316px;
}

.conditions a {
    text-decoration: none;
    color: #2f55a4;
}

#soumettre {
    width: 194px;
    height: 39px;
    background-color: rgb(29, 178, 29);
    color: white;
    border: 1px solid rgb(15, 158, 15);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-shadow: black 0px 1px 2px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -10px;
}

.groupe {
    color: gray;
    font-size: 13px;
    margin-top: 0;
}

.groupe a {
    text-decoration: none;
    color: #2f55a4;
}